<!-- File ./templates/index.html  -->
<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='dist/output.css')}}"
    />
    <title>Calculadora de Consumo</title>
  </head>
  <body class="w-full h-screen">
    <main class="h-full">
      {% if type == "water" %}
      <div class="w-full h-full px-2 flex flex-col items-center justify-center">
        <p class="md:text-[56px] text-[48px]">Dicas para economizar água:</p>
        <ul class="md:w-1/2 w-full px-6 md:mx-0 mx-auto list-disc">
          <li>
            <p class="font-bold text-[20px]">Tome banhos mais curtos</p>
            <p class="text-gray-500 list-disc list-inside">
              Um banho de 5 minutos pode economizar até 200 litros de água em
              comparação com um banho mais longo
            </p>
          </li>
          <li>
            <p class="font-bold text-[20px]">
              Feche a torneira ao escovar os dentes e fazer a barba
            </p>
            <p class="text-gray-500 list-disc list-inside">
              Deixar a torneira aberta durante essas atividades pode desperdiçar
              até 12 litros de água por minuto, informa o Estadão E-Investidor.
            </p>
          </li>
          <li>
            <p class="font-bold text-[20px]">Utilize a descarga de forma consciente</p>
            <p class="text-gray-500 list-disc list-inside">
              Evite acionamentos desnecessários da descarga e, se possível,
              instale modelos com sistema de duplo acionamento.
            </p>
          </li>
          <li>
            <p class="font-bold text-[20px]">
              Limpe o quintal com vassoura e não com mangueira
            </p>
            <p class="text-gray-500 list-disc list-inside">
              Varra o quintal em vez de usar a mangueira para lavar,
              economizando água e evitando o desperdício
            </p>
          </li>
          <li>
            <p class="font-bold text-[20px]">Verifique e conserte vazamentos</p>
            <p class="text-gray-500 list-disc list-inside">
              Pequenos vazamentos podem causar um grande desperdício de água,
              portanto, mantenha a sua instalação hidráulica sempre em bom
              estado, como destaca o Blog da Porto.
            </p>
          </li>
        </ul>
        <div class="mt-6">
          <p class="text-sm">
            Quer mais dicas?
            <a
              href="https://www.caesb.df.gov.br/dicas-de-economia-de-agua/"
              target="_blank"
              class="text-blue-400"
            >
              acesse o texto da CAESB
            </a>
            com dicas para o uso consciente da água.
          </p>
          <form method="POST">
            <button
              type="submit"
              name="calculate_water"
              class="h-14 hover:bg-[#a1c4fd] mt-4 hover:text-white hover:border-none md:text-[24px] text-[18px] border font-semibold border-[#a1c4fd] text-[#a1c4fd] cursor-pointer px-6 rounded-lg w-full"
            >
              Realizar Calculo de Economia
            </button>
          </form>
        </div>
      </div>
      {% elif type == "energy" %}
      <div class="w-full h-full flex flex-col items-center justify-center">
        <p class="md:text-[56px] text-[48px]">Dicas para economizar energia:</p>
        <ul class="md:w-1/2 w-full px-6 md:mx-0 mx-auto list-disc">
          <li>
            <p class="font-bold">Aproveite a luz natural</p>
            <p>
              Abra cortinas e persianas durante o dia e utilize cores claras nas paredes para refletir a luz natural, reduzindo a necessidade de iluminação artificial.</p>
          </li>
          <li>
            <p class="font-bold">
              Substitua lâmpadas
            </p>
            <p>
              Lâmpadas LED consomem menos energia e duram mais do que as incandescentes ou fluorescentes.
            </p>
          </li>
          <li>
            <p class="font-bold">Reduza o tempo no banho</p>
            <p>
              Banhos mais curtos e com temperatura mais amena ajudam a economizar água e energia do chuveiro.</p>
          </li>
          <li>
            <p class="font-bold">
              Verifique a eficiência dos eletrodomésticos
            </p>
            <p>
              Ao comprar novos equipamentos, priorize aqueles com selo Procel, que indicam maior eficiência energética.</p>
          </li>
        </ul>
        <div class="mt-6">
          <p class="text-sm">
            Quer mais dicas?
            <a
              href="https://www.neoenergia.com/como-economizar-energia"
              target="_blank"
              class="text-blue-400"
            >
              acesse o texto da Neoenergia
            </a>
            sobre uso consciente de energia.
          </p>
          <form method="POST">
            <button
              type="submit"
              name="calculate_energy"
              class="h-14 hover:bg-[#a1c4fd] mt-4 hover:text-white hover:border-none md:text-[24px] text-[18px] border font-semibold border-[#a1c4fd] text-[#a1c4fd] cursor-pointer px-6 rounded-lg w-full"
            >
              Realizar Calculo de Economia
            </button>
          </form>
        </div>
      </div>
      {% elif type == "initial" %}
      <section class="flex md:flex-row flex-col items-center h-full">
        <div
          class="md:w-1/2 w-full flex items-center justify-center h-full bg-linear-to-r from-[#a1c4fd] to-[#c2e9fb]"
        >
          <div class="text-center">
            <h1 class="lg:text-[89px] md:text-[70px] text-[56px] text-white font-bold mb-[-20px] p-0">
              Calculadora
            </h1>
            <p class="text-[24px] text-white text-end">
              de Consumo de Água e Energia
            </p>
          </div>
        </div>
        <div class="md:w-1/2 w-full flex p-8 items-center justify-center h-full">
          <div class="flex flex-col">
            <p class="text-justify text-lg text-neutral-400">
              - 2024: Índice de desperdício de água potável no Brasil é de 37,78%.  
            </p>            
            <p class="text-justify text-lg text-neutral-400">
              - 37,78% é perdido antes de chegar às residências, empresas e indústrias brasileiras, de acordo com o novo estudo do Instituto Trata Brasil. 
            </p>
            <p class="text-justify text-lg text-neutral-400">
              - Esse volume é suficiente para abastecer 54 milhões de brasileiros por ano, ou mais de um quarto da população do país. 
            </p>
            <p class="text-justify text-lg text-neutral-400">
              *Embora o Brasil seja o país com a maior reserva de água doce do mundo, ficando em uma posição confortável na classificação de estresse hídrico (116º), sofre com o risco de crises hídricas em diversas regiões.*
            </p>
            <p class="text-justify text-lg text-neutral-400">
              - O consumo de energia elétrica no Brasil aumentou 4,9% em fevereiro de 2025 frente a 2024 e ultrapassou, pela primeira vez, a marca de 77 mil megawatts (MW) médios em um único mês. É o que mostra o boletim InfoMercado Quinzenal, da Câmara de Comercialização de Energia Elétrica
            </p>
            <p class="text-justify text-lg text-neutral-400">
              - Um dos motivos do aumento do consumo de energia pode ser explicado pelo aumento das temperaturas, que em fevereiro de 2025 foram 1,2°C acima da média histórica, segundo o Instituto Nacional de Meteorologia (Inmet), fazendo com que o uso de ar-condicionado e ventiladores aumentasse significativamente no estados.
            </p>
            <p class="text-justify text-lg text-neutral-400">
              - Todos os estados do Sul e do Sudeste registraram aumento do consumo em relação ao ano anterior. Destaque para o Espírito Santo (15,1%) e o Rio de Janeiro (13,4%), que apresentaram temperaturas acima da média histórica. No caso do Nordeste, do Norte e do Centro-Oeste, os maiores volumes de chuva no período levaram a quedas na comparação anual, sobretudo no Amapá (-10,5%) e em Rondônia (-6,1%).
            </p>     
            <p class="text-justify mt-4 text-xl text-neutral-400">
              Veja como você pode fazer sua parte
            </p>
            <a href="#second-section">
              <button
                class="h-14 hover:bg-[#a1c4fd] mt-4 hover:text-white hover:border-none text-[24px] border font-semibold border-[#a1c4fd] text-[#a1c4fd] cursor-pointer px-6 rounded-lg"
              >
                Começar →
              </button>
            </a>
          </div>
        </div>
      </section>
      <section class="h-full" id="second-section">
        <div class="w-full h-full flex items-center flex-col justify-center">
          <p class="md:text-[64px] text-[48px] text-center">O que você deseja economizar?</p> 
          <form class="flex items-center" method="POST">
            <button
              type="submit"
              name="water"
              class="h-14 mr-4 hover:bg-[#a1c4fd] mt-4 hover:text-white hover:border-none text-[24px] border font-semibold border-[#a1c4fd] text-[#a1c4fd] cursor-pointer px-6 rounded-lg"
            >
              Água
            </button>
            <button
              type="submit"
              name="energy"
              class="h-14 hover:bg-[#a1c4fd] mt-4 hover:text-white hover:border-none text-[24px] border font-semibold border-[#a1c4fd] text-[#a1c4fd] cursor-pointer px-6 rounded-lg"
            >
              Energia
            </button>
          </form>
        </div>
      </section>
      <!-- {% else %} -->

      {% endif %}
    </main>
  </body>
</html>
